@*Made by Robert.  Additions by Samuel*@

@page "/advert/{id:int}"
@inject IAdvertService advertService
@inject IClient client
@inject NavigationManager navManager

<div class="container" style="display: flex; justify-content:center; align-items:center">
    <div class="row">

        <div class="container" style="display:flex; justify-content:center">
            @if (advert != null)
            {
                <ImageCarousel ImageUrls="@advert.Residence.ImageUrls.ToList()"></ImageCarousel>
            }
            else
            {
                <p>Laddar bilder</p>
            }
        </div>

        <div class="container mt-4">
            @if (advert != null)
            {
                <div class="mx-auto" style="max-width: 800px;">

                    <AdvertDetails advert="advert" />

                    <div style="width: 100%; display:flex; justify-content: flex-start
                            cursor: pointer; transition: transform 0.3s ease-in-out;"
                                        onmouseover="this.style.transform='scale(1.05)'"
                                        onmouseout="this.style.transform='scale(1)'"
                        @onclick="@(() => NavigateToRealtor(realtorFullProfileDto.Realtor.Id))">
                        @if (advert != null && realtorFullProfileDto != null)
                        {
                            <div type="button" @onclick="() => NavigateToRealtor(advert.Realtor.Id)"><RealtorProfileCard realtorDto="@realtorFullProfileDto.Realtor" /></div>
                        }
                        else
                        {
                            <p>Laddar profil</p>
                        }
                    </div>

                </div>
            }
            else
            {
                <p class="text-center">Laddar information...</p>
            }

        </div>
    </div>
</div>

@code {
    [Parameter]
    public int id { get; set; }

    AdvertDto advert;
    RealtorFullProfileDto realtorFullProfileDto;

    protected override async Task OnInitializedAsync()
    {
        advert = await client.AdvertAsync(id);

        if (advert != null)
        {
            realtorFullProfileDto = await client.FullProfileAsync(advert.Realtor.Id);
        }
    }

    private void NavigateToRealtor(int id)
    {
        navManager.NavigateTo($"/realtor/{id}");
    }

    private void NavigateToRealtor(int id)
    {
        navigationManager.NavigateTo($"/realtor/{id}");
    }
}
