@*Made by Robert*@
@page "/advert"
@inject IAdvertService advertService

@if (result != null)
{
    <ImageCarousel ImageUrls="@result.FirstOrDefault().Residence.ImageUrls.ToList()"></ImageCarousel>
}
else
{
    <p>Laddar annons...</p>
}



@code {

    ICollection<AdvertDto> result;
    AdvertFilterDto advertFilter = new AdvertFilterDto
        {
            ResidenceTypes = new List<ResidenceType> { ResidenceType.House }
        };

    protected override async Task OnInitializedAsync()
    {
        result = await advertService.GetFilteredAdverts(advertFilter);
    }
}
