@page "/"
@inject IClient httpClient

<PageTitle>Home</PageTitle>

<!-- Exempel hur använda RealtorActiveAdvert -->
<div class="container-large">
    @if (result != null)
    {
        foreach (var item in result)
        {
            <RealtorActiveAdvert Advert="@item"></RealtorActiveAdvert>
        }
    }
    else
    {
        <p>Laddar annons...</p>
    }
</div>

@code {

    ICollection<AdvertDto> result;
    AdvertFilterDto advertFilter = new AdvertFilterDto
        {
            ResidenceTypes = new List<ResidenceType> { ResidenceType.House }
        };

    protected override async Task OnInitializedAsync()
    {
        result = await httpClient.FilterAsync(advertFilter);
    }

}


