@page "/"
@inject IClient httpClient

<PageTitle>Home</PageTitle>

@if (test != null)
{

    <MudCard Class="pa-4" Style="@($"color:{Theme.PaletteLight.SuccessLighten}; background:{Theme.PaletteLight.Dark};")">
        <MudCardContent>
            <MudText>@test.AgencyName</MudText>
            <MudText Typo="Typo.body2">Du kan ringa mig när som helst: @test.PhoneNumber</MudText>
        </MudCardContent>
        <MudCardActions>
            <MudButton Variant="Variant.Text" Color="Color.Primary">@test.Email</MudButton>
        </MudCardActions>
    </MudCard>
    <RealtorProfile Id="1"></RealtorProfile>
    <AgencyProfile Id="3"></AgencyProfile>
    <br />
    <RealtorSoldAdverts Id="6"></RealtorSoldAdverts>

}
else
{
    <p>Laddar profil...</p>
}

@code{

    private MudTheme Theme = new MudTheme();

    RealtorProfileDto test;

    protected override async Task OnInitializedAsync()
    {
        test = await httpClient.ProfileGETAsync(4);
    }

}


