@page "/"
@inject IAdvertService advertService

<PageTitle>Home</PageTitle>

@* <RealtorSoldAdverts Id="11"></RealtorSoldAdverts> *@

<!-- Exempel hur använda RealtorActiveAdvert -->
@* div class="container-large">
    @if (result != null)
    {
        foreach (var item in result)
        {
            <RealtorActiveAdvert Advert="@item"></RealtorActiveAdvert>
        }
        <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
    }
    else
    {
        <p>Laddar annons...</p>
    }
</div> *@

@code {
    private string img = "";
    private MudTheme Theme = new MudTheme();

    RealtorProfileDto test;
    ICollection<AdvertDto> result;
    AdvertFilterDto advertFilter = new AdvertFilterDto
        {
            ResidenceTypes = new List<ResidenceType> { ResidenceType.House }
        };

    //protected override async Task OnInitializedAsync()
    //{
    //    result = await advertService.GetFilteredAdverts(advertFilter);
    //}
}


