@inherits LayoutComponentBase
@* Required *@
<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<div class="page">
    @* <div class="sidebar">
        <NavMenu />
    </div> *@

    <MudAppBar Color="Color.Primary" Elevation="4" Dense="true" Class="px-4 d-flex align-left">
        <MudText Typo="Typo.h6" Class="my-auto">FribergRealEstates</MudText>

        <div class="d-flex ml-6" style="gap: 16px; align-items:center">

            @*Dropdown /Hamza*@
            <AuthorizeView>
                <Authorized>
                    <MudNavLink Href="/" Match="NavLinkMatch.All">Sök bostad</MudNavLink>
                    <MudNavLink Href="/counter">Sök mäklare</MudNavLink>
                    <MudMenu Hover="true" OffsetY="true" Direction="Direction.Start">
                        <ActivatorContent>
                            <MudButton Variant="Variant.Text" Color="Color.Inherit" EndIcon="@Icons.Material.Filled.ArrowDropDown" Class="px-2" Style="text-transform:none">
                                Profil
                            </MudButton>
                        </ActivatorContent>
                        <ChildContent>
                            <MudMenuItem Href="/profile" Icon="@Icons.Material.Filled.Person">Min Profil</MudMenuItem>
                            <MudMenuItem Href="/My-agency" Icon="@Icons.Material.Filled.Business">Mäklarebyrå</MudMenuItem>
                            <MudDivider />
                        </ChildContent>
                    </MudMenu>
                    <Logout></Logout>


                </Authorized>
                <NotAuthorized>
                    <MudNavLink Href="/advert-search">Sök bostad</MudNavLink>
                    <MudNavLink Href="/agency/search">Sök mäklare</MudNavLink>
                    <MudNavLink Href="/realtor">Mäklare</MudNavLink>
                    <MudNavLink Href="/login">Login</MudNavLink>
                    <MudNavLink Href="/register">Register</MudNavLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>

    </MudAppBar>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code {
    private bool _drawerOpen = false;

    void ToggleDrawer() => _drawerOpen = !_drawerOpen;
}
