@*Auth Hamza*@
@page "/my-active-advert"
@inject NavigationManager navManager
@inject IRealtorService realtorService

@if (realtor != null)
{
    <MudContainer MaxWidth="MaxWidth.Medium" Class="mx-auto mt-4">

        @foreach (var item in realtor.ActiveAdverts)
        {
            <MudPaper Elevation="3" Class="pa-4 mb-4">
                <MudExpansionPanels>
                    <MudExpansionPanel Class="no-scroll" Text="@item.Residence.Address.Street" Style="text-align:center;" Expanded="false">
                        <MudList T="string" Style="background-color: white;">
                            <RealtorActiveAdvert Advert="@item"></RealtorActiveAdvert>
                            <MudListItem Icon="@Icons.Material.Filled.Create"
                            IconColor="Color.Success">
                                <MudText Color="Color.Default" Class="custom-link" @onclick="() =>EditAdvert(item.Id)">
                                    Ändra
                                </MudText>
                            </MudListItem>
                            <MudDivider />
                        </MudList>
                    </MudExpansionPanel>
                </MudExpansionPanels>
            </MudPaper>
        }
    </MudContainer>

}
else
{
    <p>Loading........</p>
}

@* styling *@
<style>
    .mud-expand-panel-header {
    color: white;
    background-color: #273845;
    }

    .mud-expand-panel-content {
    background-color: whitesmoke;
    }

    .mud-list-item-icon {
    min-width: 35px;
    }


    .mud-link:visited,
    .mud-link:active {
    color: black !important;
    }
</style>
@code {
    public RealtorFullProfileDto realtor { get; set; }

    protected override async Task OnInitializedAsync()
    {
        realtor = await realtorService.GetMyProfileAsync();
    }

    public void EditAdvert(int id)
    {
        navManager.NavigateTo($"/edit-advert/{id}");
    }
}
