@*Auth Hamza*@
@page "/realtor/{id:int}"
@inject IClient httpClient

<div class="container-large">

    @if (realtorFullProfileDto != null)
    {
        <RealtorProfileCard realtorDto="@realtorFullProfileDto.Realtor"></RealtorProfileCard>

        foreach (var item in realtorFullProfileDto.ActiveAdverts)
        {
            <div class="mt-2">
                <RealtorActiveAdvert Advert="@item"></RealtorActiveAdvert>
            </div>
        }
        foreach (var item in realtorFullProfileDto.SoldAdverts)
        {
            <div class="mt-2">
                <RealtorActiveAdvert Advert="@item"></RealtorActiveAdvert>
            </div>
        }
    }
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    RealtorFullProfileDto realtorFullProfileDto;

    protected override async Task OnInitializedAsync()
    {
        realtorFullProfileDto = await httpClient.FullProfileAsync(Id);
    }
}
