@* Made by Robert *@
@page "/admindashboard"
@inject NavigationManager navManager

<div class="container">
    <div class="stats-overview mt-3">
        <MudPaper Elevation="8" Class="stat-card">
            <div class="stat-content" style="display: flex; justify-content: center; align-items: center;">
                <MudIcon Icon="@Icons.Material.Filled.LocalPolice" Class="stat-icon" />
                <div>
                    <MudText Typo="Typo.body2">Admin Dashboard</MudText>
                </div>
            </div>
        </MudPaper>
    </div>

    <MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.False">
        <MudGrid>

            <AdminResidenceMenuCard />

            <AdminRealtorMenuCard />

            <AdminAgencyMenuCard />

            <AdminAdvertMenuCard />

        </MudGrid>
    </MudContainer>
</div>

@* styling *@
<style>
    .mud-expand-panel-header {
        color: white;
        background-color: #273845;
    }

    .mud-expand-panel-content {
        background-color: whitesmoke;
    }

    .mud-divider {
        border-color: black;
    }

    .mud-list-item-icon {
        min-width: 35px;
    }

    .mud-icon-root.mud-svg-icon {
    }

    .mud-link:visited,
    .mud-link:active {
        color: black !important;
    }
</style>

@code {
    
}
