@* Made by Robert *@
@page "/admindashboard"
@inject NavigationManager navManager

<div class="container">
    <MudItem>
        <MudPaper style="background-color: var(--bg-baseblue-color);" MinHeight="150px" Class="pa-6 ma-2">
            <MudText Typo="Typo.h3" Class="p-4" Style="text-align:center; background-color: white;">ADMIN DASHBOARD</MudText>
        </MudPaper>
    </MudItem>

    <MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.False">
        <MudGrid>

            <AdminResidenceMenuCard />

            <AdminRealtorMenuCard />

            <AdminAgencyMenuCard />

            <MudItem xs="12" sm="6" md="6">
                <MudPaper Elevation="3" Class="pa-4">
                    <MudExpansionPanels>
                        <MudExpansionPanel Text="Annonser" Style="text-align:center;" MaxHeight="300" Expanded="false">
                            <MudList T="string" Style="background-color: white;">
                                <MudListItem Icon="@Icons.Material.Filled.Create"
                                             IconColor="Color.Success">Skapa</MudListItem>
                                <MudDivider />
                                <MudListItem Icon="@Icons.Material.Filled.ChangeCircle" IconColor="Color.Primary">Ändra annons</MudListItem>
                                <MudDivider />
                                <MudListItem Icon="@Icons.Material.Filled.AssignmentInd" IconColor="Color.Warning">Ändra tilldelad Mäklare</MudListItem>
                                <MudDivider />
                                <MudListItem Icon="@Icons.Material.Filled.RemoveCircleOutline" IconColor="Color.Error">Ta bort</MudListItem>
                            </MudList>
                        </MudExpansionPanel>
                    </MudExpansionPanels>
                </MudPaper>
            </MudItem>

        </MudGrid>
    </MudContainer>
</div>

@* styling *@
<style>
    .mud-expand-panel-header {
        color: white;
        background-color: var(--bg-baseblue-color);
    }

    .mud-expand-panel-content {
        background-color: whitesmoke;
    }

    .mud-divider {
        border-color: black;
    }

    .mud-list-item-icon {
        min-width: 35px;
    }

    .mud-icon-root.mud-svg-icon {
    }

    .mud-link:visited,
    .mud-link:active {
        color: black !important;
    }
</style>

@code {
    
}
