@* Auth: Oscar *@
@page "/create-agency"
@inject IAgencyService agencyService
@inject ICommunService communService
@inject NavigationManager navManager
@inject ISnackbar snackbar

<PageTitle>Skapa mäklarbyrå</PageTitle>
<div class="container-large">
    <MudMainContent class="p-4">
        <div style="display: flex; align-items: flex-start;">
        <MudItem>
            <MudPaper>
                <MudText Typo="Typo.h3" Class="p-4" Style="text-align:center; background-color: white; width: 100%;">Skapa mäklarbyrå</MudText>
                <MudGrid>
                    <MudForm @ref="_form">
                        <MudItem xs="6">
                            <MudTextField @bind-Value="agencyDto.Name" Variant="Variant.Filled" Label="Byrånamn" Placeholder="Byrånamn" />
                        </MudItem>
                        <MudItem xs="6">
                                <MudTextField @bind-Value="addressDto.Street" Variant="Variant.Filled" Label="Gatuadress" Placeholder="Gatuadress" />
                        </MudItem>
                        <MudItem xs="6">
                                <MudTextField @bind-Value="addressDto.PostalCode" Variant="Variant.Filled" Label="Postnummer" Placeholder="Postnummer" />
                        </MudItem>
                        <MudItem xs="6">
                                <MudTextField @bind-Value="addressDto.City" Variant="Variant.Filled" Label="Stad" Placeholder="Stad" />
                        </MudItem>
                        <MudItem xs="6">
                                <MudSelect T="int" @bind-Value="addressDto.CommunId" Variant="Variant.Filled" Label="Kommun" Placeholder="Kommun">
                                @foreach (var commun in communs)
                                {
                                    <MudSelectItem Value="@commun.Id">@commun.Name</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                        <MudItem xs="6">
                                <MudTextField @bind-Value="agencyDto.Description" Variant="Variant.Filled" Label="Beskrivning" Placeholder="Beskrivning" />
                        </MudItem>
                        <MudItem xs="6">
                                <MudTextField @bind-Value="agencyDto.LogoUrl" Variant="Variant.Filled" Label="Logotyp" Placeholder="Logotyp" />
                        </MudItem>
                        <MudItem xs="6">
                            <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="Create">Skapa</MudButton>
                        </MudItem>
                    </MudForm>
                </MudGrid>
            </MudPaper>
        </MudItem>
        </div>
    </MudMainContent>
</div>

@code {
    private AgencyCreateDto agencyDto = new AgencyCreateDto();
    private AddressCreateDto addressDto = new AddressCreateDto();
    private List<CommunDto> communs = new List<CommunDto>();
    private MudForm _form;

    protected override async Task OnInitializedAsync()
    {

        communs = await communService.GetAllCommunsAsync();

    }
    private async Task Create()
    {
        await _form.Validate();
        if (!_form.IsValid)
        {
            snackbar.Add("Formuläret är inte giltigt", Severity.Error);
            return;
        }
        agencyDto.Address = addressDto;
        try
        {
            await agencyService.CreateAgency(agencyDto);
            snackbar.Add("Mäklarbyrån skapad", Severity.Success);
            navManager.NavigateTo("/admindashboard");

        }
        catch (ApiException ex) when (ex.StatusCode == 201)
        {
            snackbar.Add("Mäklarbyrån skapad", Severity.Success);
            navManager.NavigateTo("/admindashboard");
        }
        catch (Exception ex)
        {
            snackbar.Add($"Ett fel inträffade: {ex.Message}", Severity.Error);

        }
    }
}

