@* Made by Robert *@
@inject NavigationManager navManager
@inject IRealtorService realtorService

<MudItem xs="12" sm="6" md="6">
    <MudPaper Elevation="3" Class="pa-4">
        <MudExpansionPanels>
            <MudExpansionPanel Text="Mäklare" Style="text-align:center;" MaxHeight="300" Expanded="false">
                <MudList T="string" Style="background-color: white;">
                    <MudDivider />
                    <MudListItem>
                        <div style="display: flex; align-items: center; gap: 8px; padding:">
                        <MudBadge Content="realtors.Where(e => !e.EmailConfirmed).Count()" Color="Color.Error" Overlap="true" Class="me-2">
                            <MudIcon Icon="@Icons.Material.Filled.ContactMail" Color="Color.Info" />                            
                        </MudBadge>
                        <MudText Color="Color.Default" Class="custom-link" @onclick="ValidateRealtorUsers">
                            Godkänna konton
                        </MudText>
                        </div>
                    </MudListItem>                    
                    <MudDivider />
                    <MudListItem Icon="@Icons.Material.Filled.ChangeCircle" IconColor="Color.Primary">
                        <MudText Color="Color.Default" Class="custom-link" @onclick="ChangeRealtorUsers">                        
                            Ändra
                        </MudText>
                    </MudListItem>
                    <MudDivider />
                    <MudListItem Icon="@Icons.Material.Filled.RemoveCircleOutline" Disabled="true" IconColor="Color.Error">Ta bort</MudListItem>
                </MudList>
            </MudExpansionPanel>
        </MudExpansionPanels>
    </MudPaper>
</MudItem>

@code{
    private List<AdminRealtorUserDto> realtors = new();

    protected override async Task OnInitializedAsync()
    {
        realtors = (await realtorService.GetAllRealtors()).ToList();
    }

    public void ValidateRealtorUsers()
    {
        navManager.NavigateTo("/validate-realtorusers");
    }

    public void ChangeRealtorUsers()
    {
        navManager.NavigateTo("/admin-changerealtor");
    }
}